{
  "rules": {
    "indent": [
      2,
      4
    ],
    "quotes": [
      2,
      "double"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-console": 0,
    "no-var": 2
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jquery": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended"
}